@import url("https://cdnjs.cloudflare.com/ajax/libs/antd/3.23.4/antd.min.css");
@import url("https://rsms.me/inter/inter.css");
html body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
@supports (font-variation-settings: normal) {
  html body {
    font-family: "Inter var", sans-serif;
  }
}
